[submodule "canokey-crypto"]
	path = third_party/canokey-crypto
	url = https://github.com/canokeys/canokey-crypto.git
[submodule "littlefs"]
	path = third_party/littlefs
	url = https://github.com/ARMmbed/littlefs.git
[submodule "minicbor"]
	path = third_party/minicbor
	url = https://github.com/twittner/minicbor.git
