[submodule "canokey-crypto"]
	path = canokey-crypto
	url = https://github.com/canokeys/canokey-crypto.git
[submodule "littlefs"]
	path = littlefs
	url = https://github.com/ARMmbed/littlefs.git
[submodule "tinycbor"]
	path = tinycbor
	url = https://github.com/intel/tinycbor.git
